.aside {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll; }

.search {
  margin: 1.2rem 2.4rem;
  position: relative; }
  .search__input {
    width: 100%;
    padding: 1.2rem 3.2rem;
    font-size: 1.6rem;
    font-family: inherit;
    border: 1px solid #777;
    border-radius: 100px; }
    .search__input:focus {
      outline: none; }
  .search__icon {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #777; }

.trend {
  margin: 1.2rem 2.4rem;
  padding: 1.2rem 2.4rem;
  background-color: #e7ebee;
  border-radius: 1.1rem; }
  .trend__heading {
    font-size: 2rem;
    margin-bottom: 1.4rem;
    font-weight: 500; }
  .trend__box:hover {
    cursor: pointer; }
  .trend__box:not(:last-child) {
    margin-bottom: 1.4rem; }
  .trend__location {
    font-size: 1.2rem;
    color: #777; }
  .trend__title {
    font-size: 1.4rem;
    color: #444;
    margin: 0.2rem 0; }
  .trend__tweets {
    color: #777;
    font-size: 1.2rem; }

.followers {
  margin: 1.2rem 2.4rem;
  padding: 1.2rem 2.4rem;
  background-color: #e7ebee;
  border-radius: 1.1rem;
  margin-top: 1.8rem; }
  .followers__heading {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.8rem; }
  .followers__profile {
    display: flex;
    align-items: center; }
  .followers__photo {
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 50%;
    margin-right: 1.2rem; }
  .followers__profile:not(:last-child) {
    margin-bottom: 1.4rem; }
  .followers__name {
    font-size: 1.4rem; }
  .followers__username {
    font-size: 1.2rem;
    color: #777; }
  .followers__btn {
    margin-left: auto;
    padding: 0.8rem 1.2rem !important;
    font-size: 1.4rem !important; }

.content {
  border-right: 1px solid #444;
  overflow-y: scroll; }

.home {
  padding: 1.2rem 2.4rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .home__text {
    font-size: 1.8rem; }
  .home__icon {
    font-size: 1.6rem; }

.tweet-form {
  display: flex;
  align-items: flex-start;
  padding: 2.4rem; }
  .tweet-form__logo {
    margin-right: 2.4rem;
    border-radius: 50%;
    height: 6.2rem;
    width: 6.2rem; }
  .tweet-form__textarea {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .tweet-form__tweet {
    resize: none;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid #444;
    padding: 0.8rem; }
    .tweet-form__tweet:focus {
      outline: none; }
  .tweet-form__btn {
    align-self: flex-end;
    margin-top: 1.6rem; }

.tweet {
  padding: 1.8rem 1.4rem;
  border-top: 1px solid #444;
  display: flex;
  align-items: flex-start; }
  .tweet__photo {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    margin-right: 1.4rem; }
  .tweet__container {
    width: 75%; }
  .tweet__name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.8rem; }
  .tweet__username {
    display: block;
    color: #777;
    font-size: 1.2rem; }
  .tweet__text {
    font-size: 1.4rem;
    line-height: 1.4; }
  .tweet__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem; }
    .tweet__icons i {
      font-size: 1.6rem;
      cursor: pointer; }
  .tweet__count span {
    font-size: 1.4rem;
    margin-left: 0.8rem; }

.nav {
  padding: 2rem 4rem 2rem 6rem;
  height: 100vh;
  border-right: 1px solid #777;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column; }
  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh; }
  .nav__link:link, .nav__link:visited {
    color: #444;
    text-decoration: none;
    font-size: 1.8rem;
    background-color: transparent;
    padding: 1.2rem 2.4rem;
    border-radius: 100px; }
  .nav__link:hover, .nav__link:active {
    background-color: #c4cdd4; }
  .nav__icon {
    font-size: 1.8rem;
    margin-right: 2rem; }
  .nav__profile {
    display: flex;
    align-items: center;
    margin-top: auto;
    background-color: transparent;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    border-radius: 100px; }
    .nav__profile--img {
      height: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      margin-right: 0.8rem; }
    .nav__profile--name {
      font-size: 1.4rem;
      margin-bottom: 0.4rem; }
    .nav__profile--link {
      font-size: 1.2rem;
      color: #777; }
    .nav__profile:hover {
      background-color: #c4cdd4; }

.nav__item.active {
  background-color: #c4cdd4;
  padding: 1.2rem 0;
  border-radius: 100px;
  width: max-content; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  color: #444;
  height: 100vh; }

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }

.btn {
  background-color: #1da1f2;
  padding: 1.2rem 1.6rem;
  border-radius: 100px;
  font-size: 1.8rem;
  border: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.09rem; }

.btn:hover {
  background-color: #1a91da; }
