* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: $text-color-1;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
