.btn {
  background-color: $primary-color;
  padding: 1.2rem 1.6rem;
  border-radius: 100px;
  font-size: 1.8rem;
  border: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.09rem;
}

.btn:hover {
  background-color: $primary-color-1;
}
